@{
    ViewBag.Title = "Home Page";
}

<ul class="breadcrumb">
    <li><a href="#">Home</a><span class="divider">&raquo;</span></li>
</ul>
@*<div class="page-header">
        <h1></h1>
    </div>*@
<div class="row-fluid">
    <div class="switch-board">
        <ul class="clearfix">
            <li><a href="/Customer/Index"></span><span class="widget-link">All User</span></a></li>
            <li><a href="/Course/Index"></span><span class="widget-link">All Courses</span></a></li>
            <li><a href="/Professor/Index"></span><span class="widget-link">All Professors</span></a></li>
            <li><a href="/Student/Index"></span><span class="widget-link">All Students</span></a></li>
            <li><a href="/PeresentedCourses/Index"></span><span class="widget-link">Available Courses </span></a></li>
            <li><a href="/Term/Index"></span><span class="widget-link">All Term</span></a></li>
            <li><a href="/Score/MyScores"></span><span class="widget-link">My Scores</span></a></li>
        </ul>
    </div>
</div>

